<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net461" />
  <package id="Grpc.Core" version="2.24.0" targetFramework="net461" />
  <package id="Grpc.Core.Api" version="2.24.0" targetFramework="net461" />
  <package id="Grpc.Tools" version="1.2.2" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
</packages>